body {
    font-family: 'Inter', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.table-responsive {
    display: block;
    width: 95%;
    overflow-x: auto;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f6f2b0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.table td.actions {
    align-items: center;
}
.table.table-dark1 {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed;
}

.table.table-dark1 th, .table.table-dark1 td {
    border: 1px solid #572981;
    text-align: left;
    word-wrap: break-word;
    cursor: pointer;
}

.table.table-dark1 th {
    background-color: #21033a;
    color: #fff;
    padding: 14px;
    
}
.table-dark1 td {
    background-color: rgba(245, 245, 220, 0.821);
    color: #21033a;
}

.table.table-dark1 tbody tr:hover {
    background-color: #0884e2;
}

.sort-icon-active {
    color: rgb(0, 242, 255);
    cursor: pointer;
    float: inline-end;
}

.sort-icon-inactive {
    float: right;
    color: rgba(128, 128, 128, 0.812);
    cursor: pointer;
}

.text-center {
    text-align: center;
  }
  .btn {
    margin: 2px;
    padding: auto;
    display:block;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: smaller;
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
    outline: none;
  }

  
  .btn-primary {
    background-color: #5604a3;
    color: #fff;
    width: 90px;
    height: auto;
  }
  
  .btn-primary:hover {
    color: #ffffff;
    background-color: #7907e4;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }
  
  .btn-danger {
    background-color: #f64f5a;
    color: #fff;
    width: 80px;
    height: 30px;
  }
  
  .btn-danger:hover {
    background-color: #f57485;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  }
  .table td.actions {
    text-align: center;
}





.mobile-card {
    background-color: #f5f5f5;
    border: 1px solid #9704c8;
    color: #6618a5;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;
}
  
  /* Media query for small screens */
  @media (max-width: 929px) {
    .table.table-dark1 {
      display: none;
    }
    .mobile-card {
      display: block;
    }
  }


