.tablecontainer {
  padding-top: 0px;
}
.table-responsive {
  padding-top: 0px;
}
.table.table-dark1 {
  width: 78%;
  margin: 10px auto;
  margin-top: 10px;
  border-collapse: collapse;
  table-layout: auto;
  word-wrap: break-word;
}

.table.table-dark1 th, .table.table-dark1 td {
  padding: 10px;
  border: 1px solid #572981;
  text-align: left;
  vertical-align: middle;
}

.table.table-dark1 th {
  background-color: #21033a;
  color: #fff;
}
.table.table-dark1 td {
background-color: rgba(245, 245, 220, 0.821);
}
.table.table-dark1 tbody tr:hover {
  background-color: #477ca5;
}


.table.table-dark1 th, .table.table-dark1 td {
  font-size: 0.9em;
}





.btn {
  display: inline-block;
  border-radius: 8px;
  font-weight: 500;
  padding: 5px 8px;
  font-size: smaller;
  text-transform: uppercase;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-right: 3px;
  margin-top: 4px;
}

.btn-primary {
  background-color: #5604a3;
  color: #fff;
  margin-top: 30px;
  margin-left: 45%;
  margin-right: auto;
}
.btn.btn-primary1 {
  background-color: #5604a3;
  color: #fff;
}
.btn-primary1:hover {
  background-color: #6905c7;
  color: rgb(4, 242, 255);
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn-primary:hover {
  background-color: #7907e4;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  color: rgb(4, 242, 255);
}

.btn-danger {
  background-color: #f64f5a;
  color: #fff;
}
.btn.btn-success:hover {
  color: rgb(4, 242, 255);
}
.btn.btn-secondary:hover{
  color: rgb(4, 242, 255);
}
.btn.btn-export{
  background-color: #5604a3;
  color: #fff;
  margin-left: 11%;
  margin-top: 5px;
  margin-bottom: 0%;
}
.btn.btn-export:hover{
  background-color: #7907e4;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  color: rgb(4, 242, 255);
}


.btn-danger:hover {
  background-color: #f57485;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  color: rgb(4, 242, 255);
}


.mobile-card {
  display: none;
  width: 70%;
  height: 20%;
  margin: 15px auto;
  margin-top: 1px;
  padding: 25px;
  padding-bottom: 0%;
  background-color: #ebfbdb;
  border: 1px solid #9704c8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.mobile-card:hover {
  background-color: #fff7ae;
}

@media (max-width: 929px) {
  .table.table-dark1 {
      display: none;
  }
  .mobile-card {
      display: block;
  }
  .btn {
    display: inline-block;
    font-weight: 500;
    padding: 5px 8px;
    font-size: smaller;
    margin-right: 3px;
    margin-top: -10px;
  }
  .btn.btn-danger {
    margin-top: -3%;
  }
  .btn.btn-success {
    margin-top: -5.8%;
  }
.btn.btn-secondary{
  margin-top: -4.5%;
}
.btn.btn-primary {
  margin-top: auto;
  margin-left: 38%;
}
.btn.btn-export{
  background-color: #5604a3;
  color: #fff;
  margin-left: 25%;
  margin-top: 5px;
  margin-bottom: 0%;
}
}
.modal-content {
  background-color: #5604a3;

}
.modal-header{
  color: rgb(4, 167, 182);
}
.modal-body {
  background-color: rgb(255, 228, 188);
}
.modal-body input {
  margin-top: 5px;
  margin-right: 6px;
}
.button.btn-close {
  color: #a10b0b;
  background-color: #21033a;
}
.submit-buttons {
  color: #21033a;
  background-color: #1e9dc4;
  padding: 2.7px;
  border: none;
  border-radius: 8px;

}


