
.rbc-calendar {
    background-color: #89dbfb;
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #333;
}

.btn-toggle {
    background-color: #5604a3;
    color: #fff;
    margin-left: 100px;
    margin-right: auto;
}

.btn-toggle:hover {
    background-color: transparent;
    border: 2px solid #5604a3;
    padding: 7px;
}


.rbc-toolbar {
    border-bottom: 2px solid #8608cf;
    padding: 10px;
    background-color: #7b48f383;
}

.rbc-toolbar button,
.rbc-btn {
    color: #fff;
    background-color: #8608cf;
    border: 1px solid #8608cf;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 4px;
}

.rbc-toolbar button:hover,
.rbc-active {
    background-color: #a274ed;
    border-color: #6f42c1;
}


.rbc-event {
    min-height: 20px;
    align-items: center;
    font-size: x-small;
    display: flex;
    max-width:fit-content;
    background-color: lightblue;
    color: black;
}

.rbc-event-content {
    white-space: nowrap;
    padding: 2px 5px;
    text-align: left;
    overflow: scroll;
    border: none;
}


.rbc-timeslot-group,
.rbc-time-header-gutter,
.rbc-day-bg,
.rbc-time-header,
.rbc-time-content,
.rbc-date-cell,
.rbc-time-slot,
.rbc-time-gutter,
.rbc-time-view,
.rbc-header,
.rbc-row-segment,
.rbc-day-slot,
.rbc-event,
.rbc-event-container,
.rbc-time-header .rbc-row,
.rbc-time-content .rbc-row,
.rbc-month-row,
.rbc-month-row + .rbc-row,
.rbc-date-cell {
    border-color: #8608cf !important;
}


.rbc-header {
    border-right: 1px solid #8608cf !important;
    border-bottom: 1px solid #8608cf !important;
}

.rbc-day-bg,
.rbc-time-slot,
.rbc-day-slot .rbc-time-slot {
    border-right: 1px solid #8608cf !important;
}


.rbc-time-header .rbc-row:first-child .rbc-header:last-child,
.rbc-time-header .rbc-row:last-child .rbc-header:last-child,
.rbc-date-cell:last-child {
    border-right: none !important;
}

.rbc-time-content > .rbc-time-gutter + .rbc-row > * {
    border-left: 1px solid #8608cf !important;
}
