
h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color: rgb(65, 5, 144);
    font-size: 2.5em;
    font-weight: 600;
}

.table.table-dark {
    margin-top: 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-collapse: collapse;
}

.table.table-dark th, .table.table-dark td {
    padding: 12px;
    border: 1px solid #572981;
    text-align: left;
    cursor: pointer;
}

.table.table-dark th {
    background-color: #21033a;
    color: #fff;
}

.table-dark td {
    background-color: rgba(245, 245, 220, 0.821);
    color: #21033a;
}

.table.table-dark tbody tr:hover {
    background-color: #477ca5;
}
.svg-inline--fa.fa-sort {
    color: rgb(123, 0, 255) !important;
    cursor: pointer;
    float: inline-end;
}
.svg-inline--fa.fa-sort-down {
    color: rgb(0, 242, 255) !important;
    cursor: pointer;
    float: inline-end;
}
.svg-inline--fa.fa-sort-up {
    color: rgb(0, 242, 255) !important;
    cursor: pointer;
    float: inline-end;
}
.sort-icon-inactive {
    float: right;
    color: rgba(243, 6, 6, 0.812);
    cursor: pointer;
}
@media (max-width: 1000px) {
    .form-control{
        margin-left: 25%;
    }
    .btn-toggle{
        margin-left: 10px;
    }
}
