.table.table-dark {
    margin-top: 50px;
    width: 80%;
    border-collapse: collapse; /* Ensures that table borders are collapsed into a single border */
}

.table.table-dark th, .table.table-dark td {
    padding: 12px; /* Spacious padding for table cells */
    border: 1px solid #572981; /* Slightly lighter border for elements within the table */
    text-align: left; /* Aligns text to the left */
    cursor: pointer; /* Indicates clickable items */
}

.table.table-dark th {
    background-color: #21033a; /* Even darker background for headers */
    color: #fff;
    
}
.table-dark td {
    background-color: rgba(245, 245, 220, 0.821);
    color: #21033a;
}

.form-control.my-3 {
    width: 50%; /* Full width to align with the table */
    padding: 10px; /* Adequate padding for the input field */
    margin-bottom: 1rem; /* Margin to separate the table from the filter input */
    color: #067aee; /* Neutral color for text */
    background-color: #fff; /* White background for clear visibility */
    border: 1px solid #ced4da; /* Subtle border */
}

/* Hover effects for rows */
.table.table-dark tbody tr:hover {
    background-color: #0884e2; /* Lighten the row background on hover for interactivity */
}


