.homepage-container {
    margin-top: 100px;
    padding: 20px;
    font-family: 'Wonderbar';
    color: #333;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
}

.homepage-container h1 {
    color: #8a2be9;
    font-size: 2.25rem;
    margin-top: 2%;
}

.homepage-container p {
    margin-top: 4%;
    font-size: 1.2rem;
    font-weight: 100;
    color: #545050dd;
    margin-bottom: 20px;
}
