:root {
  --primary-color: #21033a; /* Primary color for backgrounds */
  --secondary-color: #572981; /* Secondary color for borders */
  --highlight-color: #0884e2; /* Highlight color for hover effects */
  --background-color: rgba(143, 241, 248, 0.821); /* Background color for table cells */
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}



/* If you have a specific style guide or theme colors, replace the colors accordingly */


.container {
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: var(--primary-color);
  color: var(--text-color);
}



.form-control {
  width: auto;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 3px groove #5604a3; /* Stylish purple border */
  border-radius: 7px;
}
