:root {
  --primary-color: #21033a;
  --secondary-color: #572981;
  --highlight-color: #0884e2;
  --background-color: rgba(143, 241, 248, 0.821);
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}


.container {
  width: 80%;
  margin: auto;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: var(--primary-color);
  color: var(--text-color);
}



.form-control {
  width: auto;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 3px groove #5604a3;
  border-radius: 7px;
}
